/* Bast Styles */
.modal {
  font-family: Cabinet Grotesk, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__opened {
  display: flex;
  visibility: visible;
}

.modal__close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url("../../assets/X_mark.png");
  background-repeat: no-repeat;
  background-color: transparent;
}

/* Modal With Form */

.modal__title {
  margin: 0;
  margin-bottom: 24px;

  height: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.modal__close-item {
  background-image: url("../../assets/X_mark-white.svg");
  position: absolute;
  top: 28px;
  border: none;
  right: 28px;
  width: 22px;
  height: 19px;
  background-color: transparent;
}

.modal__content {
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  border-radius: 20px;
  max-width: 496px;
  width: 100%;
  max-height: 436px;
  padding: 28px;
}

.modal__content-container {
  max-width: 498px;
  position: relative;
  padding: 28px 28px 36px;
  box-sizing: border-box;
  border-radius: 20px;
  height: 436px;
  width: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label_type_radio {
  margin-top: 8px;
}

.modal__input {
  display: block;
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 8px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__image {
  border-style: none;
  border-radius: 10px 10px 0 0;
}

.modal__submit {
  width: 124px;
  height: 36px;
  border-radius: 4px;
  gap: 8px;
  color: #fff;
  margin-top: 32px;
  border: none;
  background-color: #000000;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__submit:disabled {
  background-color: #a0a0a0; /* Disabled state */
}
