.card {
  position: relative;
  width: 323px;
  height: 326px;
  display: flex;
  border-radius: 12px;
  gap: 20px;
}

.card__name {
  position: absolute;
  top: 14px;
  background-color: #ffffff;
  padding: 2px 12px;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  left: 0;
  right: 0;
  margin: auto;
  display: table;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
