.signup-button {
  border: none;
  background-color: transparent;
}

.modal__button {
  border: none;
  background-color: transparent;
  color: grey;
}

.modal__submit {
  border: none;
  background-color: grey;
  color: white;
  /* margin-top: 32px; */
}

.modal__submit:hover {
  background-color: black;
}
