.clothes-section__items {
  display: flex;
  max-width: 1015px;
  flex-wrap: wrap;
  gap: 21px;
}
.clothes-section > div {
  display: flex;
}

.clothes-section button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
}
.clothes-section p {
  margin-left: 20px;
  font-size: 15px;
}

.clothes__section-modal{
  width: 498px;
  height: 610px;
  top: 106px;
  left: 471px;
  border-radius: 16px;
  position: absolute;
}