 .modal__submit {
  height: 36px;
  /* width: 73px; */
  background-color: grey;
}

.modal__submit:hover {
  background-color: grey;
}

.login-modal__input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 24px;
}

/* //sign up button// */
.login-button {
  border: none;
  background-color: transparent;
}

.login__button {
  color: grey;
  background-color: transparent;
  border: none;
}
