.modal__submit {
  height: 36px;
  Width:73px;
  background-color: grey;
}

.modal__submit:hover {
  background-color: grey;
}

.login-modal__input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 24px;
}

/* .modal__content{
    width: 496px;
    height: 304px;
    position:relative;
    border-radius: 20px;
    background-color: white; /* You can adjust the background color if needed */
    /* padding: 20px; /* Optional padding inside the modal */
    /* box-sizing: border-box;
}  */ */

/* //sign up button// */
.login-button {
  border: none;
  background-color: transparent;
}

.login__button {
  color: grey;
  background-color: transparent;
  border: none;
}

.login__button-wrapper {

}
